.first {
    border-width: 5px;
    border-style: solid;
    border-color: black;

    border-radius: 10px;
}


.submit{
    background-color: rgb(18, 218, 11);
    border-radius: 30%;
    width: 10%;
    height:10%; 
}
